include README.rst

include pyproject.toml
include setup.cfg
include hq/tests/coveragerc

recursive-include hq *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api


# the next few stanzas are for astropy_helpers.  It's derived from the
# astropy_helpers/MANIFEST.in, but requires additional includes for the actual
# package directory and egg-info.


global-exclude *.pyc *.o
