include README.md

include pyproject.toml
include setup.cfg
include hq/tests/coveragerc

include hq/pkgdata/template_config.yml
include hq/pkgdata/template_config.py

recursive-include hq *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
